In [1]:
# importing pandas and numpy 
import pandas as pd
import numpy  as np

import pickle
import matplotlib.pyplot as plt

In [2]:
# generating random values in different range 
x = np.random.randint(50,100,7)
y = np.random.randint(0,50,7)
z = np.random.randint(0,100,7)

In [3]:
# creating dict for feeding into datafrane
data = { 'X' : x,
         'Y' : y,
         'Z' : z,}

In [4]:
# creating dataframe using dict
df = pd.DataFrame(data)

In [5]:
# access the column of the dataframe
df['X']

0    64
1    55
2    92
3    87
4    70
5    92
6    93
Name: X, dtype: int64

In [6]:
# second method to access the dataframe
df.Y

0    27
1    36
2     3
3    28
4    16
5    34
6    36
Name: Y, dtype: int64

In [7]:
# to access multiple selected columns in dataframe
df[['Y','Z']]

    Y   Z
0  27  31
1  36  46
2   3  52
3  28  21
4  16  29
5  34  22
6  36  69

In [8]:
# to check the correleation between different columns of the dataframe
df.corr()

          X         Y         Z
X  1.000000 -0.177011  0.158889
Y -0.177011  1.000000 -0.007561
Z  0.158889 -0.007561  1.000000

In [9]:
# describe the status of the dataframe
df.describe()

               X          Y          Z
count   7.000000   7.000000   7.000000
mean   79.000000  25.714286  38.571429
std    15.705625  12.229940  17.765670
min    55.000000   3.000000  21.000000
25%    67.000000  21.500000  25.500000
50%    87.000000  28.000000  31.000000
75%    92.000000  35.000000  49.000000
max    93.000000  36.000000  69.000000

In [10]:
# to acces the paticular element of the data frame
df.iloc[1,:] # note that pandas dataframe uses zero based indexing

X    55
Y    36
Z    46
Name: 1, dtype: int64

In [11]:
# List Unique values in a Dataframe column 
df['X'].unique()

array([64, 55, 92, 87, 70, 93])

In [12]:
#to set cloumn as index for the dataframe 
df.set_index('X',inplace=True) # inplace defines that we are modifing the same dataframe not creaing the new one

In [13]:
# to convert dataframe column into python list
df.Y.tolist()

[27, 36, 3, 28, 16, 34, 36]

In [14]:
# to convert multiple dataframe column into  an array
np.array(df[['Y','Z']])

array([[27, 31],
       [36, 46],
       [ 3, 52],
       [28, 21],
       [16, 29],
       [34, 22],
       [36, 69]])

In [15]:
# to rename
df.rename(columns={'Z':'Z-axis'},inplace = True)

In [16]:
# read_html page using pandas 
pd_list = pd.read_html('https://en.wikipedia.org/wiki/List_of_Indian_states_and_union_territories_by_literacy_rate')

In [17]:
# select dataframe form the list of dataframes
df2 = pd_list[1]

# rename the dataframe as per requirment 
df2.columns = df2.iloc[0]

In [18]:
# set the index
df2.set_index('Rank',inplace = True)

# drop the column
df2.drop(df2.index[[0]],inplace = True)
df2.head()

,India/State/Union Territory,Literacy Rate (%) - 2011 Census,Male Literacy Rate (%) - 2011 Census[2],Female Literacy Rate (%) - 2011 Census[2],Literacy Rate (%) - 2001 Census,Decadal Difference (pp)
Rank,,,,,,
1,Kerala,93.91,96.02,91.98,90.86,3.05
2,Lakshadweep,92.28,96.11,88.25,86.66,5.62
3,Mizoram,91.58,93.72,89.40,88.80,2.78
4,Tripura,87.75[a],92.18,83.15,73.19,14.56
5,Goa,87.40,92.81,81.84,82.01,5.39

In [19]:
# function to write data into pickle file
def write_pickle():
    out_file = open('state_data.pickle','wb')
    pickle.dump(df2,out_file)
    out_file.close()

In [20]:
# calling the function
write_pickle()

In [25]:
# pandas way to write pcikle file
df.to_pickle('number.pickle')

In [26]:
# pands way to read pickle file
df3 = pd.read_pickle('number.pickle')