# Pandas 

Pandas is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. There are three basic data structure in pandas.
* Pandas series
* Dataframe
* Panels

In [1]:
# importing pandas and numpy
import pandas as pd
import numpy as np

## Data Structure

##  1. Series

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

In [2]:
# generating random data and index
data = np.random.randn(5)
index = ['a', 'b', 'c', 'd', 'e']

# pandas series 
series = pd.Series(data, index=index, name = "Example Series")
type(series)

pandas.core.series.Series

In [3]:
# working with pandas serise object 
print(series.index)
print(series.name)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
Example Series

In [4]:
# Vectorized operations on series
series + series

a   -1.820903
b   -1.487101
c    0.644398
d   -2.637134
e   -2.782596
Name: Example Series, dtype: float64

In [5]:
series * series

a    0.828922
b    0.552867
c    0.103812
d    1.738619
e    1.935710
Name: Example Series, dtype: float64

In [6]:
np.exp(series)

a    0.402342
b    0.475423
c    1.380159
d    0.267518
e    0.248752
Name: Example Series, dtype: float64

## 2. Dataframe
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table. It is generally the most commonly used pandas object. Like Series, DataFrame accepts many different kinds of input.

* Dict of 1D ndarrays, lists, dicts, or Series
* 2-D numpy.ndarray
* A pandas series
* Another DataFrame

In [7]:
# defining the data for dataframe (index is an optional argument)
data = {
'col1' : pd.Series([1.0, 3.0, 2.0, 4.0], index=['a','b','c','d']),
'col2' : pd.Series([1.0, 2.0, 3.0, 4.0], index=['a','b','c','d']),
'col3' : pd.Series([1.0, 2.0, 3.0, 4.0], index=['a','b','c','d']),
}

In [8]:
# creating dataframe
df = pd.DataFrame(data)
print(df)
type(df)

   col1  col2  col3
a   1.0   1.0   1.0
b   3.0   2.0   2.0
c   2.0   3.0   3.0
d   4.0   4.0   4.0

pandas.core.frame.DataFrame

In [9]:
# another way of definging dataframe (index is an optional argument)
data = np.random.random(4)
index = ['a','b','c','d']
col_name = ['col1']

In [10]:
# creating dataframe
df1 = pd.DataFrame(data,index=index,columns=col_name)
print(df1)
type(df1)

       col1
a  0.663976
b  0.756971
c  0.954310
d  0.794545

pandas.core.frame.DataFrame

In [11]:
# Column selection, addition, deletion
df['col1']

a    1.0
b    3.0
c    2.0
d    4.0
Name: col1, dtype: float64

In [12]:
df.col1

a    1.0
b    3.0
c    2.0
d    4.0
Name: col1, dtype: float64

In [13]:
# performing mathematical operation on dataframe
df3 = df * df
print(df3)

   col1  col2  col3
a   1.0   1.0   1.0
b   9.0   4.0   4.0
c   4.0   9.0   9.0
d  16.0  16.0  16.0

In [14]:
# performing logical operation on dataframe
df['flag'] = df['col1'] > 1
print(df)

   col1  col2  col3   flag
a   1.0   1.0   1.0  False
b   3.0   2.0   2.0   True
c   2.0   3.0   3.0   True
d   4.0   4.0   4.0   True

In [15]:
# delete a column
del df['flag']
print(df)

   col1  col2  col3
a   1.0   1.0   1.0
b   3.0   2.0   2.0
c   2.0   3.0   3.0
d   4.0   4.0   4.0

In [16]:
# select row by label name
df.loc['b']

col1    3.0
col2    2.0
col3    2.0
Name: b, dtype: float64

In [17]:
# select row by label location
df.iloc[0]

col1    1.0
col2    1.0
col3    1.0
Name: a, dtype: float64

In [18]:
# Transpose the dataframe
df.T

        a    b    c    d
col1  1.0  3.0  2.0  4.0
col2  1.0  2.0  3.0  4.0
col3  1.0  2.0  3.0  4.0

In [19]:
# display the basic information about dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 3 columns):
col1    4 non-null float64
col2    4 non-null float64
col3    4 non-null float64
dtypes: float64(3)
memory usage: 288.0+ bytes

## 3. Panel

Panel is a somewhat less-used, but still important container for 3-dimensional data. The term panel data is derived from econometrics and is partially responsible for the name pandas: pan(el)-da(ta)-s.

>  In 0.20.0, Panel is deprecated and will be removed in a future version.

## Essential Basic Functionality

In [20]:
# to view first n values of pandas data structure (default = 5)
df.head(3)

   col1  col2  col3
a   1.0   1.0   1.0
b   3.0   2.0   2.0
c   2.0   3.0   3.0

In [21]:
# to view last n values of pandas data structure (default = 5)
df.tail(2)

   col1  col2  col3
c   2.0   3.0   3.0
d   4.0   4.0   4.0

In [22]:
# return the shape of the dataframe
df.shape

(4, 3)

In [23]:
# return the list of values 
df['col1'].values

array([ 1.,  3.,  2.,  4.])

In [24]:
# normal logical expression 
df > 1

    col1   col2   col3
a  False  False  False
b   True   True   True
c   True   True   True
d   True   True   True

In [25]:
# Boolean Reductions .all() can be changed with .any() or .bool
(df > 1).any()

col1    True
col2    True
col3    True
dtype: bool

In [26]:
(df > 1).any().any()

True

In [27]:
df.sort_values('col1',inplace=True)
print(df)

   col1  col2  col3
a   1.0   1.0   1.0
c   2.0   3.0   3.0
b   3.0   2.0   2.0
d   4.0   4.0   4.0

In [28]:
df.sort_index()

   col1  col2  col3
a   1.0   1.0   1.0
b   3.0   2.0   2.0
c   2.0   3.0   3.0
d   4.0   4.0   4.0